<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conductores</title>
</head>
<body>
    <div>
        <span><%=Nombre%></span>
        <form action="/api/login" method="POST">
            <button>Salir</button>
        </form>
        
    </div>

    <div>
        <form action="/api/conductores/gestionar" method="GET">
            <button>Gestionar Conductores</button>
        </form>
    </div>
</body>
</html>