<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form action="/api/gestionar" method="post">

        <label for="Nombre">Ingrese su Nombre</label>
        <input id="Nombre" type="text" name="Nombre">

        <button>Ingresar</button>

    </form>
</body>
</html>