<%const existeNombre = typeof nombre !== "undefined";%>

<ul>
    <li>
        Inicio
    </li>
    <li>
        Login
    </li>
</ul>

<p>
    <%if(existeNombre){%>
        <%=nombre%>
    <%}else{%>
        Usuario
    <%}%>
</p>