<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pacientes</title>
</head>
<body>

    <nav>
        <div>
            <ul>
                <li>Pacientes</li>
                <li>Citas</li>
                <li>Medicos</li>
            </ul>
        </div>
    </nav>

    <section>
        <!-- Seccion de Busqueda -->
        <div>
            <form action="">
                <label for=""></label>
                <input type="text">
                <button></button>
            </form>
            <a><button>Crear nuevo Pacient</button></a>
        </div>
        <!-- Seccion de Datos -->
        <%//foreach de arreglo%>
            <div>
                <h6>Nombre: </h6>
                <%//Recuperar nombre%>
                <h6>Fecha de Nacimiento: </h6>
                <%//Recuperar fechaNac%>
                <h6>Alergias: </h6>
                <%//Recuperar alergias%>
                <form action="">
                    <!-- Actualizar -->
                </form>
                <form action="">
                    <!-- Eliminar -->
                </form>
            </div>
        <%//fin del foreach%>
    </section>

    


</body>
</html>