<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Android Q Beta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">

</head>
<body>
    <div class="container-fluid">
        <div class="row header">
            <div class="col-2">
                <img src="/imagenes/Developers.png" alt="dev" class="logo">
            </div>
            <div class="col-6">
                <ul class="list-header">
                    <li>Platform</li>
                    <li>Android Studio</li>
                    <li>Google Play</li>
                    <li>Jetpack</li>
                    <li>Más</li>
                </ul>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-5">
                        <div class="buscar">Buscar</div>
                    </div>
                    <div class="col-4">
                        <div class="lang">Language</div>
                    </div>
                    <div class="col-3 acc">
                        <div class="acce">Acceder</div>
                    </div>
                </div>
            </div>
        </div>


        
        <div class="row about">
            <h5>About the platform</h5>
        </div>
        <div class="row">
            <ul class="list-cont">
                <li class="lib">PRESENTACIÓN</li>
                <li>RELEASES</li>
                <li>TECHNOLOGY</li>
                <li>LIBRARIES</li>
                <li>KOTLIN</li>
                <li>GAMES</li>
                <li>MACHINE LEARNING</li>
            </ul>
        </div>

        <div class="container">
            <div class="row p-android">
                <img src="/imagenes/android-logo.svg" alt="" class="img-and"> 
                <div class="desc-and">
                    <p class="aqb">Android Q Beta, la próxima versión de Android, te permite aprovechar una gran variedad de <br> nuevas experiencias, desde dispositivos foldables hasta medidas de protección más <br> efectivas para los usuarios.</p>
                </div>
                
                <div class="obten">OBTÉN INFORMACIÓN SOBRE LA ACTUALIZACIÓN MÁS RECIENTE</div>
                
            </div>

            <div class="row r1">
                <div class="col-6 col1">
                    <h6>INTRODUCING</h6>
                    <h2 class="h21">Android App Bun...</h2>
                    <p>Haz que las instalaciones sean más pequeñas y más rápidas para los usuarios. Carga tu app usando el nuevo formato de publicación de apps y Dynamic Delivery de Google Play para generar y publicar APK optimizadas para los dispositivos de todos los usuarios.</p>
                    <h6 class="bottom">MÁS INFORMACIÓN</h6>
                </div>
                <div class="col-6 colc1">
                    <img src="/imagenes/cuadro1.png" alt="c1" class="c1">
                </div>
            </div>

            <div class="row r2">
                <div class="col-4 c1r2 pad">
                    <h6>Features</h6>
                    <h2>Novedades de Android Pie</h2>
                    <p>Simplicidad, velocidad y muchas formas nuevas de expandir tus apps.</p>
                    <img src="/imagenes/cuadro2.png" alt="" class=c2>
                </div>
                <div class="col-1"></div>
                <div class="col-7 c2r2 pad">
                    <h6>Features</h6>
                    <h2>Kotlin</h2>
                    <p>Muchos desarrolladores de Android ya adoptaron Kotlin por la combinación de simplicidad y potencia que ofrece. Nos entusiasma la idea de hacer que el desarrollo de Kotlin en Android sea una experiencia de primer nivel.</p>
                    <img src="/imagenes/cuadro3.png" alt="" class="c2">
                </div>

            </div>
            </div>

            <div class="back-gray padd">
                <div class="container">
                <dic class="row dis-and">   
                    <h2 class="cent dis-and-h2">Dispositivos Android</h2>
                    <p class="cent">Android se ejecuta en dispositivos de todas formas y tamaños, lo que te brinda una gran oportunidad para que los usuarios interactúen aún más.</p>
                </dic>

                <div class="row r2">
                    <div class="col-4 c1r3">
                        <h6>Products</h6>
                        <h2>Wear OS by G...</h2>
                        <p>Haz que cada minuto valga con Wear OS by Google. Los relojes inteligentes mantienen a los usuarios conectados con sus datos de salud, contactos, la información que les interesa y el Asistente de Google, todo desde la muñeca.</p>
                        <img src="/imagenes/cuadro4.png" alt="" class=c2>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-7 c2r3">
                        <h6>Products</h6>
                        <h2>TV</h2>
                        <p>Crea apps que permitan disfrutar de contenido envolvente en la pantalla grande. Los usuarios pueden descubrir tus recomendaciones de contenido en la pantalla principal y la biblioteca de Leanback proporciona API que te ayudarán a crear una gran experiencia de uso para controles remotos.</p>
                        <img src="/imagenes/cuadro5.png" alt="" class="c2">
                    </div>
                </div>

                <div class="row r1 r7">
                    <div class="col-6 col1">
                        <h6>PRODUCTS</h6>
                        <h2 class="h21">AUTO</h2>
                        <p>Diseña tus apps para una experiencia en el automóvil sin tener que preocuparte por las diferencias de hardware específicas de los vehículos, como la resolución de la pantalla, las interfaces del software, las perillas y los controles táctiles.</p>
                        <h6 class="bottom">MÁS INFORMACIÓN</h6>
                    </div>

                    <div class="col-6 colc1">
                        <img src="/imagenes/cuadro6.png" alt="c1" class="c1">
                    </div>
                </div>

                <div class="row r2">
                    <div class="col-7 c1r2">
                        <h6>PRODUCTS</h6>
                        <h2>Things</h2>
                        <p>Experimenta con la creación de apps para dispositivos conectados inteligentes que se integren con periféricos de hardware personalizados.</p>
                        <img src="/imagenes/cuadro7.png" alt="" class=c2>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-4 c2r2">
                        <h6>PRODUCTS</h6>
                        <h2>Sistema Operativo...</h2>
                        <p>Ahora puedes distribuir tus apps de Android en dispositivos que ejecutan el Sistema operativo Google Chrome, como Chromebooks, mediante Google Play Store.</p>
                        <img src="/imagenes/cuadro8.png" alt="" class="c2">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row end">
                <div class="col-6 cent-text">
                    <img src="/imagenes/twit.png" alt="tw" class="img-red">
                    <p class="cent"> Twitter <br> Seguir a @AndroidDev en <br> Twitter </p>
                </div>
                <div class="col-6 cent-text">
                        <img src="/imagenes/yt.png" alt="yt" class="img-red">
                    <p class="cent"> YouTube <br> Ver los vídeos de Android <br> Developers en YouTube </p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-4">
                    <ul class="list">
                        <li class="fw">Más sobre Android</li>
                        <li>Android</li>
                        <li>Android Enterprise</li>
                        <li>Seguridad</li>
                        <li>Android open source project</li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="list">
                        <li class="fw">Ayuda</li>
                        <li>Informar de un error en la plataforma</li>
                        <li>Informar de un error de documentaión</li>
                        <li>Google play suport</li>
                        <li>Participar en estudios de usuarios</li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="list">
                        <li class="fw">Documentación</li>
                        <li>Guías para desarrolladores</li>
                        <li>Guías de diseño</li>
                        <li>Referncia de la API</li>
                        <li>Ejemplos</li>
                        <li>Android Studio</li>
                    </ul>
                </div>
                
            </div>
            <hr>
            <div class="row">
                <ul class="list none">
                    <li><img src="/imagenes/img3.png" alt="im" class="img-red2"></li>
                    <li>Android</li>
                    <li>Chrome</li>
                    <li>Firebase</li>
                    <li>Google Cloud Platform</li>
                    <li>Todos los Productos</li>
                </ul>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">Privacidad | Licencia | Directrices de inclusión de marca</div>
                <div class="col-6">Recibir noticias y consejos por correo electrónico</div>
            </div>

            

        </div>
        


            
    </div>
</body>
</html>