
<% const nombre = 'Fabio' %>
<%=nombre%>
<%const arreglo = [1,2,3,4,5];%>
<%=arreglo%>
<%const objeto = {nombre:'Fabio'}%>
<%=objeto%>

<ol>
    <%arreglo.forEach((valorActual) =>{ %>
        <li> Numero: <%= valorActual%> </li>
    <%})%>
</ol>




<%if(estaVivo){%>
    <h1>Esta Vivo!!</h1>
<%}else{%>
    <h1>Se murió</h1>
<%}%>

