<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estilos</title>

    <style>
    
        
        #adios{
            color: blue;
            background: yellow;
        }

        

        .morado{
            color:purple;
        }

        .azul{
            color:royalblue
        }

        .verde{
            color: green;
        }
    </style>

</head>
<body>
    <h1>Hola</h1>
    <h1 id="adios" class="verde">Adios</h1>
    <h1 class="morado verde azul">Bienvenidos</h1>
<body>
</html>